:root {
  background: white;
}

h1 {
  color: black;
}
p {
  color: black;
}
.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  border: 1px solid #6f6f6f;
  padding: 10px;
  text-align: left;
  vertical-align: top;
  color: black;
}

.results-table th {
  background-color: #ffffff;
}

.results-table th:hover {
  cursor: default;
}

.results-table th.sort:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

.results-table tr:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}
